<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishUrl>publish\</PublishUrl>
    <InstallUrl>https://tomryu.github.io/CMS5000/</InstallUrl>
    <InstallFrom>Url</InstallFrom>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <ApplicationVersion>1.0.0.0</ApplicationVersion>
    <UseApplicationTrust>false</UseApplicationTrust>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <CreateAutoRunAutoPlay>false</CreateAutoRunAutoPlay>
    <PublishWizardCompleted>true</PublishWizardCompleted>
    <BootstrapperEnabled>false</BootstrapperEnabled>
    <SignManifests>false</SignManifests>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishReadyToRun>true</PublishReadyToRun>
    <SupportUrl>https://github.com/TomRyu/CMS5000</SupportUrl>
    <MapFileExtensions>true</MapFileExtensions>
  </PropertyGroup>
</Project>
